@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root{
  --background: #0D1520;
  --primary-text: #FFFFFF;
  --secondary-text: #BBC1C8;
  --muted: #3D4452;
  --primary-btn: #212836;
  --primary-btn-stroke: #3D4452;
  --blue: #008AFF;
}
body{
  background-color: var(--background);
  /* padding-top: 75px; */
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}
p,h1{
  font-family: 'PT Sans', sans-serif;
}
.primary-text{
  color: var(--primary-text);
}
.secondary-text{
  color: var(--secondary-text);
}
.bold{
  font-weight: 700;
}
.primary-button{
  background-color: var(--primary-btn);
  border-radius: 10px;
  border: 3px solid var(--primary-btn-stroke);
}
.blue{
  color: var(--blue);
}
.input{
  border: 2px solid var(--muted);
}
.input:focus{
  outline: none;
  border: 2px solid var(--blue);
}
.gradient-background{
  background: rgb(0,138,255);
  background: linear-gradient(90deg, rgba(0,138,255,1) 0%, rgba(0,89,255,1) 100%);
}
.hamMenu{
  height: 100vh;
  display: flex;
  background-color: var(--background);
  width: 300px;
  position: absolute;
  z-index: 90;
  transform: translateX(-500px);
  transition: transform 0.3s ease;
}

.hamMenu.active{
  transform: translateX(0px);
  transition: transform 0.3s ease;
}
