@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root{
  --background: #0D1520;
  --primary-text: #FFFFFF;
  --secondary-text: #BBC1C8;
  --muted: #3D4452;
  --primary-btn: #212836;
  --primary-btn-stroke: #3D4452;
  --blue: #008AFF;
}
body{
  background-color: var(--background);
  padding-top: 75px;
  height: 100vh;
  overflow-x: hidden;
}
p,h1{
  font-family: 'PT Sans', sans-serif;
}
.primary-text{
  color: var(--primary-text);
}
.secondary-text{
  color: var(--secondary-text);
}
.bold{
  font-weight: 700;
}
.primary-button{
  background-color: var(--primary-btn);
  border-radius: 10px;
  border: 3px solid var(--primary-btn-stroke);
}
.blue{
  color: var(--blue);
}